<style type="text/css">
  div#flash_area {
    margin: 0 0 3px 0;
    font-size: 12px;      
    color: #F90;      
  }
  div#feed_input {
    font-size: 12px;     
  }
  div#feed_input input {
    margin-left: 10px;
    border: solid 1px #233580;
  }
  div#feed_input input[type=text] {
    width: 350px;
  }
  .feedbox {
    float: left;
    margin: 20px 50px 20px 0;
    padding: 5px 10px;      
    width: 40%;
    height: 150px;      
    border: solid 1px #BDD2F0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  }
  .feed_box_header {
    font-size: 12px;
    font-weight: bold;
  }
  div#feed_control_panel_controls {
    font-size: 12px;
    margin-top: 5px;
    margin-right: 10px;      
    float: right;     
  }
  div#feed_control_panel {
    margin-top: 10px;        
    background-color: #EEEEFF;
    padding: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-bottom: 10px;
  }
  div#info {
    font-size: 12px;
  }
  .feed {
    font-size: 12px;
  }
  .submitter {
    margin-left: 5px;
    font-size: 10px;
    color: #999;      
  }
  div#read_area {
  }
  .entry {
    margin-top:10px;
    padding: 10px;
    border: solid 1px #999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  }
  .actual_entry_iframe {
    width: 100%;
    border: none;      
  }
  .entry_header {
    font-weight: bold;
    font-size: 12px;
  }
  .entry_time {
    color: #999;        
    font-size: 11px;
  }
  .unread {
    color: #3a3;        
  }
  .read {
    color: #a33;
  }
  .entry_toggle {
    font-size: 12px;        
  }
  .entry_read {
    filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75;
  }
</style>

<div id="feed_control_panel_controls">
    <a href="#" onclick="$('feed_control_panel').hide();">Hide</a> or <a href="#" onclick="$('feed_control_panel').show();">Show</a> the feed panel
</div>
<div id="feed_control_panel">

  <div id="flash_area" class="flash_area">
      
  </div>

  <div id="feed_input" class="feed_input">
      <% remote_form_for(@feed) do |f| %>
        Enter URL of feed to add to your list:
        <%= f.text_field :feed_url %>
        <%= f.submit "Add", :onclick => "$('input_progress').show();"  %>
        <img id="input_progress" src="/images/progress_sm.gif" alt="" style="display:none;"/>
      <% end %>
  </div>

  <div style="clear:left;"> </div>

  <div id="my_feeds" class="feedbox">
      <div class="feed_box_header">My Feeds</div>
      <% current_user.feeds.each do |feed| %>
      <div class="feed" id="feed<%= feed.id %>"><%= feed.title %> <%= link_to 'remove', feed_path(feed), :method => :delete, :style => "font-size:11px;" %></div>
      <% end %>
  </div>
  <div id="recent_feeds" class="feedbox">
      <div class="feed_box_header">Recent Feeds (click add to add to your feed list)</div>
      <% @recent_feeds.each do |feed| %>
      <div class="feed"><%= link_to_remote 'add', :url => {:action => 'create'}, :before => "$('rp_#{feed.id}').show();", :with => "'feed[feed_url]=#{CGI.escape(feed.feed_url)}'", :style => 'font-size:11px;' %> <img id="rp_<%= feed.id %>" src="/images/progress_sm.gif" style="display:none;" alt=""/><%= feed.title %> <span class="submitter">submitted by <%= feed.submitter.login %></span></div>
      <% end %>
  </div>
  <div style="clear:left;"> </div>
</div>


<div id="info">If you scroll past an entry it is considered read. <%= link_to 'mark all as unread', {:controller => :users, :action => :clear_entries} %></div>

<script type="text/javascript">
    var entry_frames = new Array();
    function resizeFrame(frame) {
      frame.style.height = frame.contentWindow.document.body.scrollHeight + "px";
    }
    Event.observe(window, 'scroll', function() {
      // go through each entry item if the scroll position + window height is > bottom of entry div mark it read
      entry_frames.each(function(item){
        if (item[1] == 1) {
          var e = $('entry'+item[0]);
          if ((e.cumulativeScrollOffset()[1] + document.viewport.getHeight()) > (e.getHeight() + e.cumulativeOffset()[1])) {
            item[1] = 0;
            new Ajax.Request('/entries/mark_as_read/' + item[0], {asynchronous:true, evalScripts:true})
          }
        }
      });
    });
</script>

<div id="read_area">
    <img src="/images/progress_indicator.gif" alt=""/>
    <script type="text/javascript">
      <%= remote_function(:update => "read_area",
                     :url => "/users/show/#{current_user.id}") %>
    </script>    
</div>
